## List

In [14]:
my_list = [30, 10, 20]

#추가(맨 뒤)
my_list.append(40)
print("append : %s" % my_list)

#추출(맨 뒤)
my_list.pop()
print("pop : %s" % my_list)

#정렬
my_list.sort()
print("sort : %s" % my_list)

#역순
my_list.reverse()
print("reverse : %s" % my_list)

#값의 인덱스
print("index : %d" % my_list.index(20))

#지정된 위치에 값 삽입
my_list.insert(2, 222)
print("insert : %s" % my_list)

#지정한 값 제거(여러 개면 첫 번째 한 개만)
my_list.remove(222)
print("remove : %s" % my_list)

#리스트 뒤에 리스트 추가
my_list.extend([77, 88, 77])
print("extend : %s" % my_list)

#값의 개수
print("count : %s" % my_list.count(77))

#지정된 위치의 값 삭제
del(my_list[5])
print("delete : %s" % my_list)

#전체 항목의 개수
print("len : %d" % len(my_list))

#새로운 리스트에 복사
my_list2 = my_list.copy()
print("copy : %s" % my_list2)

#정렬한 뒤 새로운 리스트에 대입
my_list3 = sorted(my_list)
print("sorted : %s" % my_list3)

#내용 지우기
my_list3.clear()
print("clear : %s" % my_list3)

append : [30, 10, 20, 40]
pop : [30, 10, 20]
sort : [10, 20, 30]
reverse : [30, 20, 10]
index : 1
insert : [30, 20, 222, 10]
remove : [30, 20, 10]
extend : [30, 20, 10, 77, 88, 77]
count : 2
delete : [30, 20, 10, 77, 88]
len : 5
copy : [30, 20, 10, 77, 88]
sorted : [10, 20, 30, 77, 88]
clear : []

In [17]:
numList = [n for n in range(1, 6)]
print(numList)

numList2 = [n for n in range(1, 21) if n % 3 == 0]
print(numList2)

numList3 = [[0 for _ in range(4)]for _ in range(3)]
print(numList3)

[1, 2, 3, 4, 5]
[3, 6, 9, 12, 15, 18]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

## Dictionary

In [32]:
student = {'학번' : 1000, '이름' : '홍길동', '학과' :  '컴퓨터학과'}
print(student)

#추가(키가 있을 시 변경)
student['연락처'] = '010-1111-2222'
print(student)

#삭제
del(student['연락처'])
print(student)

{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과'}
{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과', '연락처': '010-1111-2222'}
{'학번': 1000, '이름': '홍길동', '학과': '컴퓨터학과'}

In [33]:
#사용
print(student['학번'])
print(student.get('이름'))
###print(student['주소']) -> 오류
print(student.get('주소'))

print(student.keys())
print(student.values())
print(student.items())

print('이름' in student)
print('주소' in student)

1000
홍길동
None
dict_keys(['학번', '이름', '학과'])
dict_values([1000, '홍길동', '컴퓨터학과'])
dict_items([('학번', 1000), ('이름', '홍길동'), ('학과', '컴퓨터학과')])
True
False

## Set

In [29]:
my_set = {1, 2, 3, 3, 3, 4}
print(my_set)

mySet1 = {1, 2, 3, 4, 5}
mySet2 = {4, 5, 6, 7}

print(mySet1 & mySet2) #교집합
print(mySet1 | mySet2) #합집합
print(mySet1 - mySet2) #차집합
print(mySet1 ^ mySet2) #대칭 차집합

{1, 2, 3, 4}
{4, 5}
{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3}
{1, 2, 3, 6, 7}

## String

In [31]:
s = "자료구조&알고리즘"
print(s[0])
print(s[1:4])
print(s[4:])

print('파이썬' + '알고리즘')
print('파이썬' * 3)
print(len(s))

자
료구조
&알고리즘
파이썬알고리즘
파이썬파이썬파이썬
9

In [41]:
s = '인내는 쓰다. 그러나 그 열매는 달다.'
print(s.count('다'))
print(s.find('다'), s.rfind('다'), s.find('다', 7), s.find('몰라'))
print(s.index('다'), s.rindex('다'), s.index('다', 7)) #s.index('몰라') -> 오류
print(s.startswith('인내는'), s.startswith('인내는', 10), s.endswith('달다.'))

2
5 19 19 -1
5 19 19
True False True

In [44]:
s = '인생은 짧고 예술은 길다'
print(s.split())

s = '하나:둘:셋'
print(s.split(':'))

s = '하나\n둘\n셋'
print(s.splitlines())

s = '%'
print(s.join('파이썬'))

['인생은', '짧고', '예술은', '길다']
['하나', '둘', '셋']
['하나', '둘', '셋']
파%이%썬

In [45]:
before = ['2022', '12', '31']
after = list(map(int, before))
after

[2022, 12, 31]

## Tuple

In [48]:
t1 = (10, 20, 30)
print(t1)

t2 = 10, 20, 30
print(t2)

t3 = (10)
print(t3)

t4 = 10
print(t4)

t5 = (10,)
print(t5)

t6 = 10,
print(t6)

(10, 20, 30)
(10, 20, 30)
10
10
(10,)
(10,)

In [50]:
t1 = (10, 20, 30, 40)
print(t1[0])
print(t1[0] + t2[1])

print(t1[1:3])
print(t1[1:])
print(t1[:3])

t2 = ('A', 'B')
print(t1 + t2)
print(t2 * 3)

10
30
(20, 30)
(20, 30, 40)
(10, 20, 30)
(10, 20, 30, 40, 'A', 'B')
('A', 'B', 'A', 'B', 'A', 'B')